export("alongChrom", "cColor", "cPlot", "cScale", "dChip.colors",
       "greenred.colors", "GetColor", "plotChr",
       "plotExpressionGraph", "make.chromOrd", 
       "savepng", "savepdf", "saveeps", "savetiff",
       "smoothScatter", "densCols", "histStack", 
       "openHtmlPage", "closeHtmlPage")

exportMethods("Makesense", "imageMap")
importFrom("KernSmooth", "bkde2D")
importFrom("RColorBrewer", "brewer.pal")
